<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="neosoft.training.neostore">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.login.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.login.activity.RegistrationActivity" />
        <activity android:name=".view.home.activity.HomeActivity" />
        <activity android:name=".view.Product.activity.ProductListingActivity" />
        <activity android:name=".view.address.activity.AddAddressActivity" />
        <activity android:name=".view.Product.activity.ProductDetailedActivity" />
        <activity android:name=".view.address.activity.AddressListActivity" />
        <activity android:name=".view.order.activity.MyOrderActivity" />
        <activity android:name=".view.order.activity.OrderIdActivity" />
        <activity android:name=".view.login.activity.ForgotPasswordActivity" />
        <activity android:name=".view.mycart.activity.MyCartActivity" />
        <activity android:name=".view.login.activity.ResetPasswordActivity" />
        <activity android:name=".view.account.MyAccountActivity"></activity>
    </application>

</manifest>